* {
    margin: 0;
    padding: 0;
  }

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font: 100% Helvetica, Verdana, Arial, sans-serif;
}

h1 {
    color: white;
    text-transform: uppercase; 
    background-color: black;
    padding: 40px;    
}

#headerBar {
    background-color: black;
}

#hamburger {
    float: right;
}